<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
{% for entry in craft.entries.section('blog').limit(10).all() %}

<a href="{{ entry.url }}">
<h2>{{ entry.title }}</h2>
</a>

{{ entry.blogExcerpt }}

{{ entry.blogBody }}

{% endfor %}





</body>
</html>